
<div class="widget widget-table">

    <div class="widget-header">
        <i class="icon-th-list"></i>
        <h3>排名概况</h3>
        <input type="text" style="float: right; margin: 0.5rem 9rem 0rem -1rem" id="condition">
        <input type="hidden" id="p_id" value="{$list[0]['p_id']}">
        <button id="check" type="button" class="btn btn-small btn-warning" style="float: right; margin: 0.5rem -18rem 0 0rem">检索</button>
    </div> <!-- /widget-header -->

    <div class="widget-content">
        <table class="table table-striped table-bordered">
                {$rank}
        </table>
    </div> <!-- /widget-content -->
    <div class="black2">{$page}</div>
</div>
