<!--框架开始的css文件-->
<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet" />
<link href="__PUBLIC__/css/bootstrap-responsive.min.css" rel="stylesheet" />
<link href="__PUBLIC__/css/font-awesome.css" rel="stylesheet" />
<link href="__PUBLIC__/css/adminia.css" rel="stylesheet" />
<link href="__PUBLIC__/css/adminia-responsive.css" rel="stylesheet" />
<link href="__PUBLIC__/css/pages/dashboard.css" rel="stylesheet" />
<link href="__PUBLIC__/css/pages/page.css" rel="stylesheet" />
<!---->
<if condition="CONTROLLER_NAME eq 'Items'">
    <link href="__PUBLIC__/css/pages/plans.css" rel="stylesheet" />
</if>