<div class="span3">

    <div class="account-container">

        <div class="account-avatar">
            <img src="__PUBLIC__/img/headshot.png" alt="" class="thumbnail" />
        </div> <!-- /account-avatar -->

        <div class="account-details">

            <span class="account-name"><?php echo $_SESSION['userinfo']['u_name'] ?></span>

            <span class="account-role">{$r_name}</span>

        </div> <!-- /account-details -->

    </div> <!-- /account-container -->

    <hr />

    <ul id="main-nav" class="nav nav-tabs nav-stacked">

        <li class="active">
            <a href="{:U('Home/Index/index')}">
                <i class="icon-home"></i>
               首页
            </a>
        </li>

        <li>
            <a href="{:U('Home/Project/index')}">
                <i class="icon-th-list"></i>
                项目管理
            </a>
        </li>

        <li>
            <if condition="$_SESSION['userinfo']['r_id'] lt 2">
                <a href="{:U('Home/User/index')}">
                    <i class="icon-pushpin"></i>成员管理
                </a>
            <else />
                <a href="{:U('Home/User/user',array('team_id'=>$team_id))}">
                    <i class="icon-pushpin"></i>
                  成员管理
                </a>
            </if>
        </li>

        <li>
            <a href="{:U('Home/User/people',array('u_id'=>$_SESSION['userinfo']['u_id']))}">
                <i class="icon-th-list"></i>
                个人信息
            </a>
        </li>
        <li>
        <if condition="$_SESSION['userinfo']['r_id'] eq 1">
            <input type="hidden" value="{:U('Home/Rank/deltab')}" id="deltaburl">
            <a id="deltab" onclick="del()">
                <i class="icon-pushpin"></i>清空排名
            </a>
        </if>
        </li>
    </ul>
    <script type="text/javascript">
        function del() {
            var url = document.getElementById('deltaburl').value;
            var x = confirm("该操作会删除现有排名数据，确定操作吗？")
            if (x) {
                $.post(url,{}, function(msg) {
                    if (msg) {
                        alert("删除成功");
                    }else{
                        alert('NO,你已经删除过了');
                    }
                })
            }
        }
    </script>


</div> <!-- /span3 -->