<div class="span3">

    <div class="account-container">

        <div class="account-avatar">
            <img src="__PUBLIC__/img/headshot.png" alt="" class="thumbnail" />
        </div> <!-- /account-avatar -->

        <div class="account-details">

            <span class="account-name"><?php echo $_SESSION['userinfo']['u_name'] ?></span>

            <span class="account-role">{$r_name}</span>

        </div> <!-- /account-details -->

    </div> <!-- /account-container -->

    <hr />

    <ul id="main-nav" class="nav nav-tabs nav-stacked">

        <li class="active">
            <a href="{:U('Home/Index/index')}">
                <i class="icon-home"></i>
               首页
            </a>
        </li>

        <li>
            <a href="{:U('Home/Project/index')}">
                <i class="icon-th-list"></i>
                项目管理
            </a>
        </li>

        <li>
            <a href="{:U('Home/User/index')}">
                <i class="icon-pushpin"></i>
              成员管理
            </a>
        </li>

        <li>
            <a href="{:U('Home/User/user')}">
                <i class="icon-th-list"></i>
                个人信息
            </a>
        </li>

    </ul>

</div> <!-- /span3 -->