<div class="span3">

    <div class="account-container">

        <div class="account-avatar">
            <img src="__PUBLIC__/img/headshot.png" alt="" class="thumbnail" />
        </div> <!-- /account-avatar -->

        <div class="account-details">

            <span class="account-name"><?php echo $_SESSION['userinfo']['u_name'] ?></span>

            <span class="account-role">{$r_name}</span>


        </div> <!-- /account-details -->

    </div> <!-- /account-container -->

    <hr />

    <ul id="main-nav" class="nav nav-tabs nav-stacked">
        <li class="active">
            <a href="{:U('Index/index')}">
                <i class="icon-home"></i>
                首页
            </a>
        </li>
   <volist name="project" id="menu">
        <li class="active">
            <a href="./">
                <i class="icon-home"></i>
                {$menu.p_id}{$menu.p_name}
            </a>
        </li>
   </volist>

    </ul>

</div> <!-- /span3 -->