<div class="span3">

    <div class="account-container">

        <div class="account-avatar">
            <img src="__PUBLIC__/img/headshot.png" alt="" class="thumbnail" />
        </div> <!-- /account-avatar -->

        <div class="account-details">

            <span class="account-name"><?php echo $_SESSION['userinfo']['user_name'] ?></span>

            <span class="account-role">用户等级</span>

						<span class="account-actions">
							<a href="javascript:;">简况</a> |

							<a href="javascript:;">编辑设置</a>
						</span>

        </div> <!-- /account-details -->

    </div> <!-- /account-container -->

    <hr />

    <ul id="main-nav" class="nav nav-tabs nav-stacked">

        <li class="active">
            <a href="./">
                <i class="icon-home"></i>
                普通管理
            </a>
        </li>

        <li>
            <a href="{:U('Home/Items/index')}">
                <i class="icon-th-list"></i>
                项目管理
            </a>
        </li>

        <li>
            <a href="{:U('Home/Link/index')}">
                <i class="icon-pushpin"></i>
                域名管理
            </a>
        </li>

        <li>
            <a href="{:U('Home/Discuss/index')}">
                <i class="icon-th-list"></i>
                评论管理
            </a>
        </li>

        <li>
            <a href="{:U('Home/User/Index')}">
                <i class="icon-th-large"></i>
                用户管理
                <span class="label label-warning pull-right">5</span>
            </a>
        </li>
    </ul>

</div> <!-- /span3 -->