
    <div class="widget widget-table" id="keyword_contont">

        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>关键字表</h3>
            <input type="text" style="float: right; margin: 0.5rem 9rem 0rem -1rem" id="condition2">
            <input type="hidden" id="keyurl" value="{:U('Keyword/index',array('p_id'=>$list[0]['p_id']))}">
            <button id="checkkey" type="button" class="btn btn-small btn-warning" style="float: right; margin: 0.5rem -18rem 0 0rem">检索</button>
            <input type="hidden" value="{:U('Excle/keywordjoin',array('project'=>$project['p_card'],'type'=>'keyword','p_id'=>$p_id))}" id="joinkeywordurl">
            <button  type="button" class="btn btn-small btn-warning" id="joinkeyword" >导入</button>
        </div> <!-- /widget-header -->

        <div class="widget-content">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>关键词</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody id="keybody">
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.k_id}</td>
                        <td>{$vo.keyword}</td>
                        <td class="action-td" style="width: 16rem;">
                            <a href="{:U('Rank/keyword',array('k_id'=>$vo['k_id'],'p_id'=>$vo['p_id']))}" class="btn btn-small btn-warning" target="_blank">
                                排名
                            </a>
                            <input type="hidden" id="kupurl" value="{:U('keyword/update')}">
                            <a href="javascript:;" class="btn btn-small" onclick="keyupdate({$vo['k_id']})">
                                修改
                            </a>
                            <input type="hidden" id="kdelurl" value="{:U('Keyword/del')}">
                            <a href="javascript:;" class="btn btn-small" onclick="keydel({$vo['k_id']})">
                                删除
                            </a>
                        </td>
                    </tr>
                </volist>
                </tbody>
            </table>
        </div> <!-- /widget-content -->
        <div class="black2">{$page}</div>
    </div>
