<!DOCTYPE html>
<div class="span9">
    <h1 class="page-title">
        <i class="icon-home"></i>团队信息                    
    </h1>
    <div class="widget">                     
        <div class="widget-header">
            <i class="icon-signal"></i><h3>添加团队</h3>
        </div> <!-- /widget-header -->                                
        <div class="widget-content">
            <form method="post" action="{:U('Home/User/teamadda')}">
            <table>
                <tbody>
                    <tr><td>编 &nbsp; 号：<input type="hidden" name="u_id" value="{$vo.u_id}">{$vo.u_id}</td></tr>
                    <tr><td>团队名：<input type="text" name="t_name"></td></tr>
                    <tr>
                        <td ><br />状 &nbsp; 态：<input type="radio" name="t_state" checked="checked" value="1">运作中
                            <input type="radio" name="t_state" value="0">暂停中
                        </td>
                    <tr>
                    <tr><td style="text-align:center"></tr>
                        <tr><td> <br />                   
                            <button class="btn btn-small" type="submit">提交</button>                   
                            <a href="{:U('Home/User/index')}" class="btn btn-small">返回</a>
                        </td></tr>
                    </tr>  
                </tbody>
            </table>
            </form>
        </div>
    </div>
</div>